<div class="c-dropdown -small" data-dropdown="recolor-by">
  <span class="dropdown-label">
    Recolour by
    <svg class="icon tooltip-icon js-tooltip" data-tooltip-text="<%= tooltips.sankey.nav.colorBy.main %>" data-tooltip-position="top right">
      <use xlink:href="#icon-layer-info"></use>
    </svg>
  </span>
  <span class="js-dropdown-title dropdown-title -small">
    -
  </span>
  <ul class="js-dropdown-list dropdown-list -large -right">
    <li class="js-dropdown-item dropdown-item" data-value="none" data-type="none">
      <div class="js-dropdown-item-title dropdown-item-title">
        Node selection
        <svg class="icon tooltip-icon js-tooltip" data-tooltip-text="<%= tooltips.sankey.nav.colorBy.none %>" data-tooltip-position="top right">
          <use xlink:href="#icon-layer-info"></use>
        </svg>
      </div>
    </li>

    <% if (recolorBy) { %>
    <% recolorBy.forEach(function(recolorByVar, index) { %>

    <% if (index > 0 && recolorBy[index - 1].groupNumber !== recolorByVar.groupNumber) { %>
    <li class="js-dropdown-item dropdown-item -separator"></li>
    <% } %>

    <li class="js-dropdown-item dropdown-item"
      <%= recolorByVar.isDisabled ? '' : 'data-value="' + recolorByVar.name + '" data-type="' + recolorByVar.type + '"' %>>
      <div class="js-dropdown-item-title dropdown-item-title">
        <%= recolorByVar.label %>
        <% if (recolorByVar.name && tooltips.sankey.nav.colorBy[recolorByVar.name]) { %>
          <svg class="icon tooltip-icon js-tooltip" data-tooltip-text="<%= tooltips.sankey.nav.colorBy[recolorByVar.name] %>" data-tooltip-position="top right">
            <use xlink:href="#icon-layer-info"></use>
          </svg>
        <% } %>
      </div>


      <% if (recolorByVar.minValue) { %>
      <span class="dropdown-item-legend-unit"><%= recolorByVar.minValue %></span>
      <% } %>

      <ul class="dropdown-item-legend -<%= recolorByVar.legendType %> js-dropdown-item-legend">
        <% recolorByVar.options.forEach(function(option) { %><li class="<%= option.class %>"><%= option.label %></li><% }) %>
      </ul>

      <% if (recolorByVar.maxValue) { %>
      <span class="dropdown-item-legend-unit"><%= recolorByVar.maxValue %></span>
      <% } %>
    </li>

    <% }) %>
    <% } %>
  </ul>
</div>
<div class="dropdown-item-legend-summary js-dropdown-item-legend-summary">
  <!-- legend summary is filled in in nav.component.selectRecolorBy -->
</div>
