<li
  class="bookmark-item"
  data-bookmark-id="{{ bookmark.id }}"
  data-bookmark-state="{{ bookmark.state }}"
>
  {{ bookmark.name }}
  <ul class="bookmark-options">
    {{#each actions}}
      <li class="bookmark-action {{ this }}">
        <svg class="icon icon-{{ this }}">
          <use xlink:href="#icon-{{ this }}"></use>
        </svg>
      </li>
      </li>
    {{/each}}
  </ul>
</li>
