<li
  class="layer-item"
  data-layer-uid="<%= uid %>"
>
  <label class="layer-name">
    <%= name %>
    <% if (unit) { %>
      (<%= unit %>)
    <% } %>
    <ul class="layer-options-list">
      <!--<li class="layer-option c-tooltip">-->
        <!--<svg class="icon icon-layer-info js-layer-info" data-description="description/tooltip goes here">-->
          <!--<use xlink:href="#icon-layer-info">-->
        <!--</use>-->
      <!--</svg>-->
      <!--</li>-->
      <!--<li class="layer-option">-->
        <!--<svg class="icon icon-layer-download js-layer-download"><use xlink:href="#icon-layer-download"></use></svg>-->
      <!--</li>-->
    </ul>
  </label>
  <div class="radios">
    <div class="c-radio-btn" data-group="vertical" value="<%= uid %>"></div>
    <div class="c-radio-btn" data-group="horizontal" value="<%= uid %>"></div>
  </div>
</li>
