<% layerGroups.forEach(function(layerGroup) { %>
  <li>
    <div class="layer-group-title">
      <%= layerGroup.layerGroup.name %>
    </div>
    <ul>
      <% layerGroup.layers.forEach(function(layer) { %>
        <li
          class="layer-item"
          data-layer-uid="<%= layer.uid %>"
        >
          <label class="layer-name">
            <%= layer.name %>
            <% if (layer.unit) { %>
              (<%= layer.unit %>)
            <% } %>
            <ul class="layer-options-list">
              <!--<li class="layer-option c-tooltip">-->
                <!--<svg class="icon icon-layer-info js-layer-info" data-description="description/tooltip goes here">-->
                  <!--<use xlink:href="#icon-layer-info">-->
                <!--</use>-->
              <!--</svg>-->
              <!--</li>-->
              <!--<li class="layer-option">-->
                <!--<svg class="icon icon-layer-download js-layer-download"><use xlink:href="#icon-layer-download"></use></svg>-->
              <!--</li>-->
            </ul>
          </label>
          <div class="radios">
            <div class="c-radio-btn" data-group="vertical" value="<%= layer.uid %>"></div>
            <div class="c-radio-btn" data-group="horizontal" value="<%= layer.uid %>"></div>
          </div>
        </li>
      <% }) %>
    </ul>
  </li>
<% }) %>
