<% if (multiple) { %>
  <%= node.columnName %>
  <% nodes.forEach(function(node) { %>
    <%= node.name %>
    <a href="./factsheet.html#<%= node.id %>"> -> </a>
  <% }) %>
<% } else { %>

  <%= node.columnName %>
  <%= node.name %>

  <%= node.quant.name %>
  <%= node.quant.value %> <%= node.quant.unit %>

  <% node.inds.forEach(function(ind) { %>
    <%= ind.name %>
    <%= ind.values[0] %>
    <!-- <%= ind.unit %> -->
  <% }) %>

  view more
  <a href="./factsheet.html#<%= node.id %>"> -> </a>
<% } %>
