<% if (multiple) { %>
  <% nodes.forEach(function(node, i) { %>
    <div class="column">
      <% if (i === 0) { %>
        <div class="column-title"><%= node.columnName %></div>
      <% } %>
      <div class="column-content">
        <%= node.name %>
        <% if (node.link) { %>
          <a href="<%= node.link %>" class="outside-link">
            <svg class="icon icon-outside-link"><use xlink:href="#icon-outside-link"></use></svg>
          </a>
        <% } %>
      </div>
    </div>

  <% }) %>
<% } else { %>

  <div class="column">
    <div class="column-title"><%= node.columnName %></div>
    <div class="column-content"><%= node.name %><!-- <%= node.id %> <%= node.geoId %> --></div>
  </div>

  <div class="column">
    <div class="column-title"><%= node.quantName %></div>
    <div class="column-content"><%= node.quantNice %>&thinsp;<span class="unit"><%= node.quantUnit %></span></div>
  </div>

  <% if (node.selectedMetas) { node.selectedMetas.forEach(function(meta) { %>
    <div class="column">
      <div class="column-title"><%= meta.name %></div>
      <div class="column-content"><span class="value"><%= meta.rawValueNice %></span><% if (meta.unit) { %>&thinsp;<span class="unit"><%= meta.unit %></span><% } %>
      </div>
    </div>
  <% })} %>

  <% if (node.link) { %>
    <div class="column">
      <div class="column-title">view more</div>
      <div class="column-content">
        <a href="<%= node.link %>" class="outside-link">
          <svg class="icon icon-outside-link"><use xlink:href="#icon-outside-link"></use></svg>
        </a>
      </div>
    </div>
  <% } %>
<% } %>
