<table>
  <% if(type === 'table_header'){ %>
    <thead>
      <tr>
        <% for(let i=0; i<actors['title']['value'].length; i++) { %>
          <th><%= actors['title']['value'][i] %></th>
        <% } %>
      </tr>
    </thead>
  <% } %>
  <% if(type === 'table_header'){ %>
    <tbody>
      <% for(let i=0; i<actors['data'][actors['title']['value'][0]].length; i++) { %>
        <tr>
        <%  for(let j=0; j<actors['title']['value'].length; j++){%>
          <td data-unit="<%= i == 0 ? actors['title']['units'][j] : ''  %>">
            <%= actors['data'][actors['title']['value'][j]][i] %>
            <% if(j == 0){ %> <svg class="icon icon-check"><use xlink:href="#icon-outside-link"/></svg> <% } %>
          </td>
        <% } %>
        </tr>
      <% } %>
    </tbody>
  <% } else {%>
    <tbody>
      <% for(let i=0; i<actors.length; i++) { %>
        <tr>
          <td><%=i+1%>.<%= actors[i]['name'] %> <svg class="icon icon-check"><use xlink:href="#icon-outside-link"/></svg></td>
          <td data-unit="<%= i == 0 ? '%' : ''  %>"><%= (actors[i]['value'] * 100).toFixed(2) %></td>
        </tr>
      <% } %>
    </tbody>
  <% } %>
</table>
