<table>
  <% if(type === 't_head_places'){ %>
    <thead>
      <tr>
        <th>Key sustainability indicators</th>
        <th>Score</th>
        <!-- <th>State Ranking</th> -->
      </tr>
    </thead>
  <% } %>
  <% if(type === 't_head_actors'){ %>
    <thead>
      <tr>
        <% for(let i=0; i<actors['includedColumns'].length; i++) { %>
          <th> <%= actors['includedColumns'][i]['name'] %> </th>
        <% } %>
      </tr>
    </thead>
  <% } %>

  <% if(type === 't_head_actors'){ %>
    <tbody>
      <% for(let i=0; i<actors['rows'].length; i++) { %>
      <tr>
        <%  for(let j=0; j<actors['rows'][i]['values'].length; j++){%>
          <td data-unit="<%= i == 0 ? actors['includedColumns'][j]['unit'] : ''  %>">
            <% if(actors['rows'][i]['values'][j] != null){ %>
              <%= actors['rows'][i]['values'][j]['value'] %>
            <% } else{ %>
              0
            <% } %>
          </td>
          <% } %>
      </tr>
      <% } %>
    </tbody>
  <% } %>

  <% if(type === 't_head_places'){ %>
    <tbody>
      <% for(let i=0; i<actors['rows'].length; i++) { %>
        <%  for(let j=0; j<actors['rows'][i]['values'].length; j++){%>
        <tr>
          <td> <%= actors['includedColumns'][j]['name'] %> </td>
          <td data-unit="<%= i == 0 ? actors['includedColumns'][j]['unit'] : ''  %>">
              <%= actors['rows'][i]['values'][j] %>
          </td>
        </tr>
        <% } %>
      <% } %>
    </tbody>
  <% } else {%>
    <tbody>
      <% for(let i=0; i<actors.length; i++) { %>
        <tr>
          <td><%=i+1%>.<%= actors[i]['name'] %> <svg class="icon icon-check"><use xlink:href="#icon-outside-link"/></svg></td>
          <td data-unit="<%= i == 0 ? '%' : ''  %>"><%= actors[i]['value'] %></td>
        </tr>
      <% } %>
    </tbody>
  <% } %>
</table>
