<table>
  <% if(type === 't_head_places'){ %>
    <thead>
      <tr>
        <th>Key sustainability indicators</th>
        <th>Score</th>
        <!-- <th>State Ranking</th> -->
      </tr>
    </thead>
  <% } %>
  <% if(type === 't_head_actors'){ %>
    <thead>
      <tr>
        <% for(var i=0; i<data['includedColumns'].length; i++) { %>
          <th> <%= data['includedColumns'][i]['name'] %> </th>
        <% } %>
      </tr>
    </thead>
  <% } %>

  <% if(type === 'top_municipalities' || type === 'top_destination'){ %>
    <tbody>
      <% for(var i=0; i<data['lines'].length; i++) { %>
        <tr>
          <td><%= data['lines'][i]['name'] %></td>
          <td><%= data['lines'][i]['values'] %></td>
        </tr>
      <% } %>
    </tbody>
  <% } %>

  <% if(type === 't_head_actors'){ %>
    <tbody>
      <% for(var i=0; i<data['rows'].length; i++) { %>
      <tr>
        <%  for(var j=0; j<data['rows'][i]['values'].length; j++){%>
          <td data-unit="<%= i == 0 ? data['includedColumns'][j]['unit'] : ''  %>">
            <% if(data['rows'][i]['values'][j] != null){ %>
              <%= data['rows'][i]['values'][j]['value'] %>
            <% } else{ %>
              0
            <% } %>
          </td>
          <% } %>
      </tr>
      <% } %>
    </tbody>
  <% } %>

  <% if(type === 't_head_places'){ %>
    <tbody>
      <% for(var i=0; i<data['rows'].length; i++) { %>
        <%  for(var j=0; j<data['rows'][i]['values'].length; j++){%>
        <tr>
          <td> <%= data['includedColumns'][j]['name'] %> </td>
          <td data-unit="<%= i == 0 ? data['includedColumns'][j]['unit'] : ''  %>">
              <%= data['rows'][i]['values'][j] %>
          </td>
        </tr>
        <% } %>
      <% } %>
    </tbody>
  <% } else {%>
    <tbody>
      <% for(var i=0; i<data.length; i++) { %>
        <tr>
          <td><%=i+1%>.<%= data[i]['name'] %> <svg class="icon icon-check"><use xlink:href="#icon-outside-link"/></svg></td>
          <td data-unit="<%= i == 0 ? '%' : ''  %>"><%= data[i]['value'] %></td>
        </tr>
      <% } %>
    </tbody>
  <% } %>
</table>
