<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="loading-wrapper">
  <%= htmlWebpackPlugin.options.icons %>
  <%= htmlWebpackPlugin.options.nav %>
    <div class="l-about">
      <div class="wrap">
        <div class="cut -top"></div>
        <div class="c-anchor-list js-anchor-nav">
          <ul class="anchor-list">
            <li class="anchor-item -selected">
              <a href="#about-trase">About Trase</a>
            </li>
            <li class="anchor-item">
              <a href="#who-is-for">Who is Trase for?</a>
            </li>
            <li class="anchor-item">
              <a href="#how-it-work">How does it work?</a>
            </li>
            <li class="anchor-item">
              <a href="#partners">Partners</a>
            </li>
            <li class="anchor-item">
              <a href="#funders">Funders</a>
            </li>
            <li class="anchor-item">
              <a href="#contact-us">Contact us</a>
            </li>
          </ul>
        </div>
        <div class="content">
          <h2 id="about-trase" class="title -medium -pink">About Trase</h2>
            <p class="paragraph">
              Trase is a powerful new sustainability platform that enables governments, companies,
              investors and others to better understand and address the environmental
              and social impacts linked to their supply chains.
            </p>
            <p class="paragraph">
              Its pioneering approach draws on vast sets of production, trade and customs data,
              for the first time laying bare the flows of globally-traded commodities from production
              landscapes to consumer countries at scale. Along the way it identifies the ports of
              export and import, and the producers, traders and transporters involved. These supply
              chain actors can then be linked back to environmental and social risk factors on the
              ground, as well as information on the social and governance factors necessary to improve conditions.
            </p>
            <p class="paragraph">
              Trase focuses on the handful of commodities – including soy, beef, palm oil and timber – that drive
              two thirds of deforestation globally. It comes as a direct response to the ambitious commitments made
              by leaders across sectors to achieve deforestation-free supply chains by 2020 - and the urgent need
              this creates for a breakthrough in assessing and monitoring sustainability performance.
            </p>
            <p class="paragraph">
              Over the next 5 years, Trase aims to map the trade and risks for over 70% of total
              production in major forest risk commodities, catalyzing a transformation in
              supply chain sustainability for the agricultural drivers of deforestation. Read
              <a class="-bold" href="http://resources.trase.earth/documents/Trase-vision-for-2020.pdf" target="_blank">our vision for Trase</a>.
            </p>


          <h2 id="who-is-for" class="title -medium -pink">Who is Trase for?</h2>
          <p class="paragraph">
            Trase is an open-access platform. In revealing the sustainability risks and opportunities
            that connect production landscapes with consumers worldwide, the platform can
            help actors at every step of the supply chain make smarter decisions:
          </p>
          <ul>
            <li class="paragraph">
              Commodity traders striving to meet sustainability commitments and to de-risk their
              supply chains. The platform provides the data and tools to monitor
              company progress, demonstrate their sustainability credentials to
              consumers and business partners, identify other actors along their supply
              chains to cooperate with, and plan more sustainable sourcing strategies.
            </li>
            <li class="paragraph">
              Producer country governments who want to promote sustainable production, reduce poverty,
              build effective partnerships with companies down the supply chain,
              and monitor the activities of producers and exporters across different jurisdictions.
            </li>
            <li class="paragraph">
              Consumer country governments who want to understand and manage their countries’ socio-environmental
              impacts abroad, make sustainable procurement decisions and meet commitments
              such as the EU’s Amsterdam Declarations on sustainable palm oil.
            </li>
            <li class="paragraph">
              Civil society organizations and multi-stakeholder processes committed to providing
              independent monitoring and assessment of private- and public-sector actors involved
              in the trade of globally significant commodities, including those that have made individual
              or collective commitments such as under the New York Declaration on Forests.
            </li>
          </ul>
          <p class="paragraph">
            In addition, Trase will build from this initial focus to support use by other stakeholders
            including investors who want to de-risk their portfolios, manufacturers and retailers as
            well as consumer groups committed to more sustainable consumption, and journalists and
            campaigning groups who play a vital watchdog role in strengthening the accountability of global supply chains.
          </p>

          <h2 id="how-it-work" class="title -medium -pink">How does it work?</h2>
          <p class="paragraph">
            Trace’s supply chain mapping relies on the triangulation of several key sources
            of data. To trace exports back to production landscapes it uses sub-national
            production data from national governments, publically available data on the supply
            chain logistics of companies, as well as data on the sub-national origin of shipped
            goods gathered at port level. The mapping of global trade flows relies chiefly on
            customs declarations and bills of lading, which are based on legal contracts between
            trading partners, and on official global trade data (e.g. from the UN Food
            and Agricultural Organization) to account for re-exports between countries.
          </p>

          <h2 id="partners" class="title -medium -pink">Partners</h2>
          <p class="paragraph">
            Trase is a partnership between the <span class="-bold">Stockholm Environment Institute</span> and <span class="-bold">Global Canopy Programme</span>.
            We work closely with <span class="-bold">Vizzuality</span>, the <span class="-bold">European Forest Institute</span>, and many other partners.
          </p>
          <ul class="logo-list">
            <li class="logo-item -sei">
              <img src="/images/partners/SEI@2x.png" alt="Stockholm Environment Institute">
            </li>
            <li class="logo-item -gcp">
              <img src="/images/partners/GCP@2x.png" alt="Global Canopy Programme">
            </li>
            <li class="logo-item -vizzuality">
              <img src="/images/partners/vizzuality@2x.png" alt="Vizzuality">
            </li>
            <li class="logo-item -efi">
              <img src="/images/funders/EFI@2x.png" alt="EFI">
            </li>
          </ul>
          <p class="paragraph">
            These include <span class="-bold">Agrosatelite</span>, <span class="-bold">Both ENDS</span>, <span class="-bold">BV Rio</span>,
            <span class="-bold">CDP</span>, <span class="-bold">Chalmers University</span>, <span class="-bold">Conservation International</span>,
            <span class="-bold">Gibbs Land Use and Environment Laboratory at Wisconsin University</span>, <span class="-bold">International Institute for Sustainability</span>,
            <span class="-bold">Imaflora</span>, <span class="-bold">InfoAmazonia</span>, <span class="-bold">León University</span>, <span class="-bold">Louvain University</span>,
            <span class="-bold">Luc Hoffman Institute</span>, <span class="-bold">The Nature Conservancy</span>,
            <span class="-bold">Transitions</span>, <span class="-bold">University of Brasilia</span>,
            <span class="-bold">University of Bonn</span>, <span class="-bold">University of Sao Paulo</span>,
            <span class="-bold">World Conservation Monitoring Centre</span>,
            <span class="-bold">World Resources Institute</span>, and <span class="-bold">WWF</span>.
          </p>

          <h2 id="funders" class="title -medium -pink">Funders</h2>
          <p class="paragraph">Trase is made possible through the generous funding of:</p>

          <ul class="logo-list">
            <li class="logo-item -european-union">
              <img src="/images/funders/eu-stars-33@2x.png" alt="The European Union">
            </li>
            <li class="logo-item -nature-conservancy">
              <img src="/images/funders/Nature-conservancy@2x.png" alt="The Nature Conservancy">
            </li>
            <li class="logo-item -moore">
              <img src="/images/funders/moore@2x.png" alt="Moore Foundation">
            </li>
          </ul>
          <ul class="logo-list">
            <li class="logo-item -formas">
              <img src="/images/funders/formas@2x.png" alt="formas">
            </li>
            <li class="logo-item -sida">
              <img src="/images/funders/s-i-d-a-logo@2x.png" alt="The Swedish International Development Cooperation Agency Sida">
            </li>
            <li class="logo-item -uk">
              <img src="/images/funders/u-kaidsvg@2x.png" alt="The UK Department for International Development ">
            </li>
          </ul>

          <h2 id="contact-us" class="title -medium -pink">Contact us</h2>

          <a class="paragraph" href="mailto:info@trase.earth">info@trase.earth</a>
        </div>
      </div>
      <div class="cut -bottom"></div>
    </div>
  <%= htmlWebpackPlugin.options.footer %>
  </div>
  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
