<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <%= htmlWebpackPlugin.options.icons %>
  <%= htmlWebpackPlugin.options.nav %>
    <div class="l-about">
      <div class="wrap">
        <div class="c-anchor-list js-anchor-nav">
          <ul class="anchor-list">
            <li class="anchor-item"><a href="#about-trase">About Trase</a></li>
            <li class="anchor-item"><a href="#key-partners">Key partners</a></li>
            <li class="anchor-item"><a href="#funders">Funders</a></li>
            <li class="anchor-item"><a href="#contact-us">Contact us</a></li>
          </ul>
        </div>
        <div class="content">
          <h2 id="about-trase" class="title -medium -pink">About Trase</h2>
          <p class="paragraph">Trase is a powerful new online information and decision-support platform that aims
            to fill this gap. Trase draws on huge sets of largely untapped production, trade and customs data to lay
            bare the flows of these key commodities through the global trade system from production landscapes to consumer
            countries. Along the way it identifies the ports of export and import, and the producers, traders and
            transporters involved. Unlocking the potential of hitherto underused data and methods, Trase will allow
            users to identify the environmental and social risk factors and levels of sustainability performance
            associated with the production localities. Information on the risks and opportunities associated with
            production landscapes can then be linked to the different actors (producers, traders, shippers, importers,
            consumers) who make up a supply chain.
          </p>
          <p class="paragraph">Trace’s supply chain mapping relies on several key sources of data. To trace exports
            back to production landscapes it uses subnational production data from national governments, as well as
            data on the subnational origin of shipped goods gathered at port level. The mapping of global trade flows
            relies chiefly on customs declarations and bills of lading, which are based on legal contracts between
            trading partners, and on official global trade data (e.g. from the UN Food and Agricultural Organization)
            to account for re-exports between countries.
          </p>
          <p class="paragraph">Our ambition is to facilitate a transformation in supply chain sustainability in the
            main areas of agricultural expansion and intensification across the tropics. The increased transparency
            provided by the platform can play a critical role in catalysing improvements in production practices,
            procurement and investment policies, third-party monitoring schemes, and strategic development planning
            by governments – helping actors to assess progress towards ambitious zero deforestation goals and other
            sustainability commitments.
          </p>

          <h2 id="key-partners" class="title -medium -pink">Key partners</h2>
          <p class="paragraph">
            Trase is developed by the <span class="-bold">Global Canopy Programme</span> and <span class="-bold">Stockholm Environment Institute</span>  in partnership with <span class="-bold">Vizzuality</span>.

            <ul class="logo-list">
              <li class="logo-item -sei">
                <img src="/images/partners/SEI@2x.png" alt="Stockholm Environment Institute">
              </li>
              <li class="logo-item -gcp">
                <img src="/images/partners/GCP@2x.png" alt="Global Canopy Programme">
              </li>
              <li class="logo-item -vizzuality">
                <img src="/images/partners/vizzuality@2x.png" alt="Vizzuality">
              </li>
            </ul>
          </p>

          <h2 id="funders" class="title -medium -pink">Funders</h2>
          <p class="paragraph">Trase is made possible through the generous funding of:</p>

          <ul class="logo-list">
            <li class="logo-item -efi">
              <img src="/images/funders/EFI@2x.png" alt="EFI">
            </li>
            <li class="logo-item -nature-conservancy">
              <img src="/images/funders/Nature-conservancy@2x.png" alt="The Nature Conservancy">
            </li>
            <li class="logo-item -moore">
              <img src="/images/funders/moore@2x.png" alt="Moore Foundation">
            </li>
            <li class="logo-item -formas">
              <img src="/images/funders/formas@2x.png" alt="formas">
            </li>
            <li class="logo-item -dfid">
              <img src="/images/funders/dfid@2x.png" alt="Department for International Development">
            </li>
          </ul>

          <h2 id="contact-us" class="title -medium -pink">Contact us</h2>

          <a class="paragraph" href="mailto:info@trase.org">info@trase.org</a>
        </div>
      </div>
    </div>
  <%= htmlWebpackPlugin.options.footer %>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
