<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-contact">
    <%= htmlWebpackPlugin.options.nav %>
    <h1>Contact page (WIP)</h1>

    <%= htmlWebpackPlugin.options.footer %>
    
  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
