<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="loading-wrapper">
    <%= htmlWebpackPlugin.options.icons %>
    <%= htmlWebpackPlugin.options.nav %>
      <div class="l-data">
        <div class="row">
          <div class="small-12 columns">
            <div class="c-bulk-downloads">
              <div class="c-bulk-downloads__title">BULK DOWNLOADS</div>
              <div class="row">
              </div>
            </div>
            <div class="c-custom-dataset">
              <div class="c-custom-dataset__title">CREATE A CUSTOM DATASET</div>
              <div class="row">
                <div class="small-9 columns">
                  <div class="row">
                    <div class="small-4 columns">
                      <div class="c-custom-dataset-selector js-custom-dataset-selector-countries" data-type="value">
                        <div class="c-custom-dataset-selector__header">PRODUCTION COUNTRIES</div>
                        <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values"></ul>
                      </div>
                    </div>
                    <div class="small-4 columns">
                      <div class="c-custom-dataset-selector js-custom-dataset-selector-commodities -disabled" data-type="value" data-disabled-text="Please select first a country">
                        <div class="c-custom-dataset-selector__header">COMMODITIES</div>
                        <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values"></ul>
                      </div>
                    </div>
                    <div class="small-4 columns">
                      <div class="c-custom-dataset-selector js-custom-dataset-selector-years -disabled" data-type="value" data-disabled-text="Please select first a country and commodity">
                        <div class="c-custom-dataset-selector__header">
                          YEARS
                          <ul class="c-custom-dataset-selector__header-options">
                            <li>
                              <div class="c-radio-btn -red" data-group="years-all" value="all"></div>
                            </li>
                          </ul>
                        </div>
                        <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values">
                          <li>
                            2016
                            <div class="c-radio-btn -red" data-group="years" value="2016"></div>
                          </li>
                          <li>
                            2015
                            <div class="c-radio-btn -red" data-group="years" value="2015"></div>
                          </li>
                          <li>
                            2014
                            <div class="c-radio-btn -red -disabled" data-group="years" value="2014"></div>
                          </li>
                          <li>
                            2013
                            <div class="c-radio-btn -red -disabled" data-group="years" value="2013"></div>
                          </li>
                          <li>
                            2012
                            <div class="c-radio-btn -red -disabled" data-group="years" value="2012"></div>
                          </li>
                          <li>
                            2011
                            <div class="c-radio-btn -red -disabled" data-group="years" value="2011"></div>
                          </li>
                          <li>
                            2010
                            <div class="c-radio-btn -red -disabled" data-group="years" value="2010"></div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="small-4 columns">
                      <div class="c-custom-dataset-selector js-custom-dataset-selector-companies -disabled" data-type="value" data-disabled-text="Please select first a country and commodity">
                        <div class="c-custom-dataset-selector__header">
                          COMPANIES
                          <ul class="c-custom-dataset-selector__header-options">
                            <li>
                              <div class="c-radio-btn -red" data-group="companies-all" value="all"></div>
                            </li>
                          </ul>
                        </div>
                        <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values"></ul>
                      </div>
                    </div>
                    <div class="small-4 columns">
                      <div class="c-custom-dataset-selector js-custom-dataset-selector-consumption-countries -disabled" data-type="value" data-disabled-text="Please select first a country and commodity">
                        <div class="c-custom-dataset-selector__header">
                          CONSUMPTION COUNTRIES
                          <ul class="c-custom-dataset-selector__header-options">
                            <li>
                              <div class="c-radio-btn -red" data-group="consumption-countries-all" value="all"></div>
                            </li>
                          </ul>
                        </div>
                        <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values"></ul>
                      </div>
                    </div>
                    <div class="small-4 columns">
                      <div class="c-custom-dataset-selector js-custom-dataset-selector-indicators -disabled" data-type="value" data-disabled-text="Please select first a country and commodity">
                        <div class="c-custom-dataset-selector__header">
                          INDICATORS
                          <ul class="c-custom-dataset-selector__header-options">
                            <li>
                              <div class="c-radio-btn -red" data-group="indicators-all" value="all"></div>
                            </li>
                          </ul>
                        </div>
                        <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values"></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="small-3 columns">
                  <div class="c-custom-dataset__format-sidebar">
                    <div class="c-custom-dataset-selector js-custom-dataset-selector-output-type" data-type="format">
                      <div class="c-custom-dataset-selector__header">OUTPUT TYPE</div>
                      <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values">
                        <li class="-selected">
                          Table
                          <div class="c-radio-btn -no-self-cancel -enabled -grey" data-group="output-type" value="table"></div>
                        </li>
                        <li>
                          Pivot
                          <div class="c-radio-btn -no-self-cancel -grey" data-group="output-type" value="pivot"></div>
                        </li>
                      </ul>
                    </div>

                    <div class="c-custom-dataset-selector js-custom-dataset-selector-formatting" data-type="format" style="display: none;">
                      <div class="c-custom-dataset-selector__header">FORMATTING OPTIONS</div>
                      <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values">
                        <li class="-selected">
                          Location codes
                          <div class="c-radio-btn -no-self-cancel -enabled -grey" data-group="formatting" value="location-codes"></div>
                        </li>
                        <li>
                          Units
                          <div class="c-radio-btn -no-self-cancel -grey" data-group="formatting" value="units"></div>
                        </li>
                        <li>
                          Null Values
                          <div class="c-radio-btn -no-self-cancel -grey" data-group="formatting" value="null"></div>
                        </li>
                      </ul>
                    </div>

                    <div class="c-custom-dataset-selector js-custom-dataset-selector-file" data-type="format">
                      <div class="c-custom-dataset-selector__header">FILE</div>
                      <ul class="c-custom-dataset-selector__values js-custom-dataset-selector-values">
                        <li class="-selected">
                          .csv (comma separated)
                          <div class="c-radio-btn -no-self-cancel -enabled -grey" data-group="file" value=".csv" data-separator-type="comma"></div>
                        </li>
                        <li>
                          .csv (semicolon separated)
                          <div class="c-radio-btn -no-self-cancel -grey" data-group="file" value=".csv" data-separator-type="semicolon"></div>
                        </li>
                        <li>
                          .json
                          <div class="c-radio-btn -no-self-cancel -grey" data-group="file" value=".json" data-separator-type=""></div>
                        </li>
                      </ul>
                    </div>

                    <div class="c-custom-dataset-submit-button js-custom-dataset-download-button -disabled">
                      <svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg>
                      DOWNLOAD DATA
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%= htmlWebpackPlugin.options.footer %>
  </div>
  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
