<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-factsheets js-factsheets">
    <%= htmlWebpackPlugin.options.nav %>

    Hey I'm a factsheet for place

    <%= htmlWebpackPlugin.options.footer %>

  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
