<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-factsheets">
    <%= htmlWebpackPlugin.options.nav %>
    <h1>Factsheets page (WIP)</h1>

    <%= htmlWebpackPlugin.options.footer %>
    
  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
