<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-factsheets js-factsheets">
    <%= htmlWebpackPlugin.options.nav %>

    Hey I'm a factsheet for place

    <div class="js-line"></div>
    <div class="js-chord-traders"></div>
    <div class="js-top10-traders"></div>
    <div class="js-top10-consumers"></div>
    <div class="js-chord-consumers"></div>

    <%= htmlWebpackPlugin.options.footer %>

  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
