<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-factsheets js-factsheets">
    <%= htmlWebpackPlugin.options.nav %>

    <div class="c-area-select">
      <div class="c-dropdown -factsheets" data-dropdown="exporter">
        <span class="dropdown-label -big">Exporter</span>
        <span class="js-dropdown-title dropdown-title">
          -
        </span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="js-dropdown-item dropdown-item" data-value="Colombia">Colombia</li>
          <li class="js-dropdown-item dropdown-item" data-value="Brazil">Brazil</li>
        </ul>
      </div>

      <div class="c-dropdown -factsheets" data-dropdown="commodity">
        <span class="dropdown-label -big">Commodity</span>
        <span class="js-dropdown-title dropdown-title">
          -
        </span>
        <ul class="js-dropdown-list dropdown-list">
          <li class="js-dropdown-item dropdown-item" data-value="Soy">Soy</li>
        </ul>
      </div>
      <div class="contain-information">
        <div>
          <span class="title-information">
            ZERO DEFORESTATION COMMITMENT
          </span>
          <span class="value-information">
            <svg class="icon icon-check"><use xlink:href="#icon-check-circle"/></svg>
            <span>Yes</span>
          <span>
        </div>

        <div>
          <span class="title-information">
            FOREST 500 SCORE
          </span>
          <span class="value-information -stars">
            <svg class="icon star-icon"><use xlink:href="#icon-star"/></svg>
            <svg class="icon star-icon"><use xlink:href="#icon-star"/></svg>
            <svg class="icon star-icon"><use xlink:href="#icon-star"/></svg>
            <svg class="icon star-icon"><use xlink:href="#icon-star"/></svg>
            <svg class="icon star-icon"><use xlink:href="#icon-star-white"/></svg>
          <span>
        </div>
      </div>
    </div>

    <div class="c-area-stacked-chart">
      <span class="title">TOP Source Municipalities</span>
      <div class="js-municipalities-top">
      </div>
    </div>

    <div class="c-area-stacked-chart -second ">
      <span class="title">TOP destination COUNTRIES</span>
      <div class="js-destination-top">
      </div>
    </div>

    <div class="c-area-table ">
      <span class="title">Sustainability of source municipalities IN 2015</span>
      <table>
      <thead>
        <tr>
          <th>municipallities</th>
          <th>TRADE AMOUNT</th>
          <th>DEFORESTATION</th>
          <th>WATER SCARCITY</th>
          <th>CONFLICTS</th>
          <th>FIRES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Querência <svg class="icon"><use xlink:href="#icon-outside-link"/></svg></td>
          <td class="tons-text">2,863</td>
          <td class="ha-text">1,863</td>
          <td class="mm-ha-text">53</td>
          <td>863</td>
          <td>53</td>
        </tr>
        <tr>
          <td>Campo Novo <svg class="icon"><use xlink:href="#icon-outside-link"/></svg></td>
          <td>1,320</td>
          <td>1,320</td>
          <td>20</td>
          <td>30</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Maracaju <svg class="icon"><use xlink:href="#icon-outside-link"/></svg></td>
          <td>1,065</td>
          <td>1,965</td>
          <td>96</td>
          <td>65</td>
          <td>96</td>
        </tr>
        <tr>
          <td>Barreiras <svg class="icon"><use xlink:href="#icon-outside-link"/></svg></td>
          <td>837</td>
          <td>893</td>
          <td>35</td>
          <td>893</td>
          <td>35</td>
        </tr>
      </tbody>
    </table>
    </div>


    <%= htmlWebpackPlugin.options.footer %>

  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
