<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="loading-wrapper">
    <%= htmlWebpackPlugin.options.icons %>
    <div class="js-factsheets">
      <%= htmlWebpackPlugin.options.nav %>
      <div class="l-factsheet-actor">
        <div class="c-loading -visible">Loading...</div>
        <div class="content ">
          <div class="wrap is-hidden">
            <div class="c-area-select">
              <div class="c-info">
                <div class="legend js-legend"> - </div>
                <div class="name js-name"> - </div>
              </div>
              <div class="c-dropdown -factsheets" data-dropdown="commodity">
                <span class="dropdown-label -big">Commodity</span>
                <span class="js-dropdown-title dropdown-title">-</span>
                <ul class="js-dropdown-list dropdown-list">
                  <li class="js-dropdown-item dropdown-item" data-value="Soy">Soy</li>
                  <li class="js-dropdown-item dropdown-item">Coffee</li>
                  <li class="js-dropdown-item dropdown-item">Cocoa</li>
                  <li class="js-dropdown-item dropdown-item">Cotton</li>
                  <li class="js-dropdown-item dropdown-item">Oilpalm</li>
                  <li class="js-dropdown-item dropdown-item">Sugar</li>
                  <li class="js-dropdown-item dropdown-item">Beef</li>
                </ul>
              </div>
              <div class="contain-information">
                <div class="zero-deforestation-commitment">
                  <span class="title-information">
                    ZERO DEFORESTATION COMMITMENT
                  </span>
                  <span class="value-information is-hidden" data-value="yes">
                    <svg class="icon icon-check"><use xlink:href="#icon-check-circle"/></svg>
                    <span data-value="yes">Yes</span>
                  </span>
                  <span class="value-information is-hidden" data-value="no">
                    <!--<svg class="icon icon-check"><use xlink:href="#icon-check-circle"/></svg>-->
                    <span data-value="no">No</span>
                  </span>
                </div>

                <div class="forest-500-score">
                  <span class="title-information">
                    FOREST 500 SCORE
                  </span>
                  <span class="value-information -stars">
                    <svg class="icon star-icon" data-value="1"><use xlink:href="#icon-star-white"/></svg>
                    <svg class="icon star-icon" data-value="2"><use xlink:href="#icon-star-white"/></svg>
                    <svg class="icon star-icon" data-value="3"><use xlink:href="#icon-star-white"/></svg>
                    <svg class="icon star-icon" data-value="4"><use xlink:href="#icon-star-white"/></svg>
                    <svg class="icon star-icon" data-value="5"><use xlink:href="#icon-star-white"/></svg>
                  </span>
                </div>
              </div>
            </div>

            <div class="container-top-tables">
              <div class="c-area-stacked-chart c-area-table -top-table is-hidden">
                <span class="title -small">TOP Source Municipalities in 2015</span>
                <div class="js-municipalities-top"></div>
              </div>

              <div class="c-area-stacked-chart c-area-table -top-table is-hidden">
                <span class="title -small">TOP destination Countries in 2015</span>
                <div class="js-destination-top"></div>
              </div>
            </div>

            <div class="c-area-table is-hidden">
              <span class="title -small">Sustainability of source municipalities IN 2015</span>
              <div class="js-municipalities-table"></div>
            </div>
          </div>
          <div class="c-error-message js-error-message is-hidden">
            <p class="message">Data not found</p>
          </div>
        </div>
      </div>
    </div>
    <%= htmlWebpackPlugin.options.footer %>
  </div>
  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
