<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <%= htmlWebpackPlugin.options.icons %>
  <div class="loading-wrapper"></div>
  <%= htmlWebpackPlugin.options.nav %>
  <div class="l-factsheets js-factsheets">
    <div class="wrap">

      <div class="search-container js-search-container is-hidden">
        <div class="c-search js-search">
          <label for="search-input">Search for</label>
          <input class="js-search-input" id="search-input" placeholder="production place or trader" />
          <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
        </div>
      </div>

    </div>
  </div>
  <%= htmlWebpackPlugin.options.footer %>
  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
