<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
<div class="loading-wrapper">
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-homepage">

    <%= htmlWebpackPlugin.options.nav %>

    <div class="c-scroll-container">

      <section class="c-scroll-section -intro-top">
        <div class="introduction row">
            <div class="intro-statement column small-6">
              <div class="trase-logo">
                <img src="images/logos/new-logo-trase.svg" alt="TRASE"/>
              </div>
              <p class="paragraph -white">
                Commodity production drives two thirds of tropical deforestation worldwide.
                This accelerates climate change and is associated with many other social and
                environmental impacts. But links to the markets engaged
                in commodity trade remain obscure.
              </p>
            </div>
        </div>
      </section>

      <section class="c-scroll-section -screenshot">
        <div class="screenshot-container"></div>
      </section>

      <section class="c-scroll-section -intro-bottom">
        <div class="introduction row">
          <div class="intro-statement column small-6">
            <p class="paragraph -white">
              Explore the unprecedented supply chain transparency enabled by Trase.
              Map the movement of agricultural commodities from the places of production all the
              way to the country of consumption,
              identifying the key supply chain actors along the way.
              But links to the markets engaged in commodity trade remain obscure.
            </p>
            <div>
              <a href="/flows.html" class="c-button -big -white -bold btn-explore">explore the tool</a>
            </div>
          </div>
        </div>
      </section>

    </div>


    <%= htmlWebpackPlugin.options.footer %>

  </div>
</div>

<%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
