<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
<div class="loading-wrapper">
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-homepage">

    <%= htmlWebpackPlugin.options.nav %>

    <div class="c-homepage">

      <section class="c-scroll-section -intro-top">
        <div class="introduction row align-middle">
            <article class="intro-statement column small-6">
              <div class="trase-logo">
                <img src="images/logos/new-logo-trase.svg" alt="TRASE"/>
              </div>
              <p class="paragraph -white">
                Trase transforms our understanding of how companies and governments that trade and
                consume agricultural commodities are linked to impacts and opportunities
                for more sustainable production.
              </p>
              <div>
                <a href="/flows.html" class="c-button -big -white -bold btn-explore">explore the tool</a>
              </div>
            </article>
            <div class="screenshot-container">
              <figure class="screenshot -top"></figure>
              <figcaption class="screenshot-caption">
                Visualise and explore entire commodity supply chains here.
              </figcaption>
            </div>
        </div>
      </section>

      <section class="c-scroll-section -intro-middle">
        <div class="introduction row align-middle">
          <article class="intro-statement column small-6">
            <p class="paragraph -white">
              Can companies and governments meet their 2020 sustainability goals? The blanket
              transparency provided by Trases helps address this question and identify priority
              actions for achieving success.
            </p>
            <div>
              <a href="/flows.html" class="c-button -big -white -bold btn-explore">explore company commitments</a>
            </div>
          </article>
          <div class="screenshot-container">
            <figure class="screenshot -middle"></figure>
            <figcaption class="screenshot-caption">
              Explore the sourcing patterns of companies with and without zero-deforestation commitments here.
            </figcaption>
          </div>
        </div>
      </section>

      <section class="c-scroll-section -intro-bottom">
        <div class="introduction row align-middle">
          <article class="intro-statement column small-6">
            <p class="paragraph -white">
              The ability to address deforestation and promote sustainability is hampered by poor
              access to vital information. Trase is committed to free and open access to all the
              information provided on the platform.
            </p>
            <div>
              <a href="/flows.html" class="c-button -big -white -bold btn-explore">download trase data</a>
            </div>
          </article>
          <div class="screenshot-container">
            <figure class="screenshot -bottom"></figure>
            <figcaption class="screenshot-caption">
              Access Trase data portal here.
            </figcaption>
          </div>
        </div>
      </section>

      <section class="c-scroll-section">
        <article class="sliding-content row column js-posts">
          <h3 class="slider-title">What can you do with trase?</h3>
        </article>
        <article class="sliding-content row column js-updates">
          <h3 class="slider-title">Latest updates</h3>
          <div class="row c-updates">
            <div class="update column small-3">
              <div class="update-title-wrapper">
              <h4 class="update-type">Guest Blog</h4>
              <h2 class="update-title">8 traps to avoid for Companies Aiming for Deforestation-Free Supply Chains</h2>
              </div>
              <div class="update-image-wrapper">
                <figure class="update-image -one"></figure>
                <figcaption class="update-description"></figcaption>
              </div>
            </div>
            <div class="update column small-3">
              <div class="update-title-wrapper">
                <h4 class="update-type">TRASE in the media</h4>
                <h2 class="update-title">How Tracking Product Sources May Help Save World’s Forests</h2>
              </div>
              <div class="update-image-wrapper">
                <figure class="update-image -two"></figure>
                <figcaption class="update-description">
                  Global businesses are increasingly pledging to obtain key commodities only
                  from sources that do not contribute to deforestation.
                </figcaption>
              </div>
            </div>
            <div class="update column small-3">
              <div class="update-title-wrapper">
                <h4 class="update-type">TRASE BLOG</h4>
                <h2 class="update-title">Tracking illegal timber with BV Rio and Trase</h2>
              </div>
              <div class="update-image-wrapper">
                <figure class="update-image -three"></figure>
                <figcaption class="update-description">
                  Explore the legality of a sample of timber supply chains from
                  the Brazilian Amazon, compiiled by Trase partner BV Rio.
                </figcaption>
              </div>
            </div>
            <div class="update column small-3">
              <div class="update-title-wrapper">
                <h4 class="update-type">Guest Blog</h4>
                <h2 class="update-title">Are zero-deforestation pledges slowing deforestation?</h2>
              </div>
              <div class="update-image-wrapper">
                <figure class="update-image -four"></figure>
                <figcaption class="update-description">
                  Without more transparency, we just don’t know
                </figcaption>
              </div>
            </div>
          </div>
        </article>
        <article class="sliding-content row column js-tweets">
          <h3 class="slider-title">Trase on social media</h3>
          <div class="row c-tweets">
            <div class="tweet column small-4">
              <h4 class="tweet-user">@TraseEarth</h4>
              <p class="tweet-content">
                A succinct and thought-provoking piece on potential
                <strong>#supplychain</strong> pitfalls for businesses aiming
                to holistically reduce <strong>#deforestation</strong>
              </p>
            </div>
            <div class="tweet column small-4">
              <h4 class="tweet-user">@globalcanopy</h4>
              <p class="tweet-content">
                How data holds businesses accountable for deforestation
                <a>http://grn.bz/T2X</a>  <strong>#GrnBz</strong> via @GreenBiz @TraseEarth
              </p>
            </div>
            <div class="tweet column small-4">
              <h4 class="tweet-user">@JAVIERGODAR</h4>
              <p class="tweet-content">
                This is so evident! I don´t understand the incredible
                attempts to green-wash development in Mato Grosso
                <a>https://news.mongabay.com/2017/02</a> @TraseEarth
              </p>
            </div>
          </div>
        </article>
      </section>

      <section class="newsletter">
        <div class="newsletter-content row align-middle">
          <form class="column small-6">
            <label for="newsletter-email" class="newsletter-label">
              Sign up here to receive news updates about TRASE
            </label>
            <div class="newsletter-input-container">
              <input type="email" name="email" placeholder="email address" id="newsletter-email" class="newsletter-email">
              <button type="submit" class="c-button -charcoal -bold">Subscribe</button>
            </div>
          </form>
        </div>
      </section>

    </div>

    <%= htmlWebpackPlugin.options.footer %>

  </div>
</div>

<%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
