<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-homepage">

  <%= htmlWebpackPlugin.options.nav %>

    <section class="c-introduction">
      <div class="wrapper">
        <div class="trase-logo"></div>

        <p class="paragraph">Production and international trade of "forest risk" commodities is driving
          two-thirds of tropical deforestation and shaping the future of biodiversity,
          climate change and rural development across the planet. Yet answers to basic
          questions remain elusive:
        </p>

        <div class="workflow-graphic"></div>

        <p class="paragraph">Transformative Transparency is a new kind of traceability platform.
          It harnesses huge untapped data sets to see inside complex commodity supply chains,
          helping link production landscapes – and the social and environmental impacts
          and opportunities associated with them – to specific traders, manufacturers,
          retailers and investors worldwide.
        </p>

        <a href="" class="btn -pink">explore the tool</a>

        <div class="map-selector">
          <h3 class="intro">What are the sustainability risks associated with
            the trading of
            <select name="commodity" id="">Soy</select>
            in
            <select name="country_origin" id="">Brazil</select>
            ?
          </h3>

          <div id="map"></div>

          <a href="" class="btn">find out here</a>
        </div>
      </div>
    </section>

    <section class="c-posts"></section>

    <%= htmlWebpackPlugin.options.footer %>

  </div>


  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
