<!DOCTYPE html>
<html lang="en">
<head>
  <%= htmlWebpackPlugin.options.head %>
</head>
<body>
  <div class="loading-wrapper">
  <%= htmlWebpackPlugin.options.icons %>
  <div class="l-homepage">

  <%= htmlWebpackPlugin.options.nav %>

  <div class="wrap">
    <section class="c-introduction">
        <div class="trase-logo">
          <img src="images/logos/logo-trase-big.svg" alt="TRASE" />
        </div>

        <p class="paragraph -center">Commodity production is responsible for two-thirds of tropical deforestation, shaping the
          future of biodiversity, climate change, and rural livelihoods. Yet little is known about the places, traders, or markets
          linked to commodity-driven deforestation. Trase brings unprecedented transparency to commodity supply chains revealing
          new pathways towards achieving a deforestation-free economy.
        </p>

        <div class="c-workflow-graphic">
          <ul class="supply-chain-list">
            <li class="supply-chain-item">
              <span class="description title -mono-font -center">Where are they produced?</span>
            </li>
            <li class="supply-chain-item">
              <span class="description title -mono-font -center">Who trades <br/>in them?</span>
            </li>
            <li class="supply-chain-item">
              <span class="description title -mono-font -center">Where are they consumed?</span>
            </li>
            <li class="supply-chain-item">
              <span class="description title -mono-font -center">What are the sustainability risks and opportunities?</span>
            </li>
            <li class="supply-chain-item">
              <span class="description title -mono-font -center">And how can we <br/>make a difference?</span>
            </li>
          </ul>
        </div>

        <p class="paragraph -center">Trase is a new kind of transparency platform, harnessing untapped trade data with the best
          available sustainability information to link production landscapes – and the impacts within them – to specific traders,
          manufacturers, retailers, and investors worldwide. Trase answers the looming question of who is connected to environmental
          and social impact, and who can help transition to a deforestation-free economy. Trase was developed through a partnership
          between the Stockholm Environment Institute, and Global Canopy Programme.
        </p>

        <a href="/flows.html" class="c-button -big -pink -bold btn-explore">explore the tool</a>

        <div class="c-map-risks">
          <h3 class="title -big -center -light">What are the sustainability risks associated with
            the trading <br/>of
            <div class="c-dropdown -homepage -big" data-dropdown="commodity">
              <span class="js-dropdown-title dropdown-title">
                -
              </span>
              <ul class="js-dropdown-list dropdown-list js-commodity-dropdown">
                <li class="js-dropdown-item dropdown-item" data-value="Soy">Soy</li>
                <li class="js-dropdown-item dropdown-item" data-value="Coffee">Coffee</li>
                <li class="js-dropdown-item dropdown-item" data-value="Cocoa">Cocoa</li>
                <li class="js-dropdown-item dropdown-item" data-value="Cotton">Cotton</li>
                <li class="js-dropdown-item dropdown-item" data-value="Oilpalm">Oilpalm</li>
                <li class="js-dropdown-item dropdown-item" data-value="Sugar">Sugar</li>
                <li class="js-dropdown-item dropdown-item" data-value="Beef">Beef</li>
              </ul>
            </div>
            in
            <div class="c-dropdown -homepage -big" data-dropdown="country">
              <span class="js-dropdown-title dropdown-title">
                -
              </span>
              <ul class="js-dropdown-list dropdown-list js-country-dropdown">
                <li class="js-dropdown-item dropdown-item" data-commodity="beef" data-value="Argentina">Argentina</li>
                <li class="js-dropdown-item dropdown-item" data-commodity="beef,cotton,soy,sugar" data-value="Brazil">Brazil</li>
                <li class="js-dropdown-item dropdown-item" data-commodity="coffee" data-value="Colombia">Colombia</li>
                <li class="js-dropdown-item dropdown-item" data-commodity="oilpalm" data-value="Indonesia">Indonesia</li>
                <li class="js-dropdown-item dropdown-item" data-commodity="beef,soy" data-value="Paraguay">Paraguay</li>
                <li class="js-dropdown-item dropdown-item" data-commodity="cocoa" data-value="Peru">Peru</li>
              </ul>
            </div>
            ?
          </h3>

          <div id="map" class="map">
            <ul class="map-gallery-list">
              <li class="map-gallery-item is-hidden" data-image-name="soy-brazil"><img src="images/maps/soy-brazil.jpg" alt="soy-brazil"></li>
              <li class="map-gallery-item is-hidden" data-image-name="soy-paraguay"><img src="images/maps/soy-paraguay.jpg" alt="soy-paraguay"></li>
              <li class="map-gallery-item is-hidden" data-image-name="coffee-colombia"><img src="images/maps/coffee-colombia.jpg" alt="coffee-colombia"></li>
              <li class="map-gallery-item is-hidden" data-image-name="cotton-brazil"><img src="images/maps/cotton-brazil.jpg" alt="cotton-brazil"></li>
              <li class="map-gallery-item is-hidden" data-image-name="sugar-brazil"><img src="images/maps/sugar-brazil.jpg" alt="sugar-brazil"></li>
              <li class="map-gallery-item is-hidden" data-image-name="oilpalm-indonesia"><img src="images/maps/oilpalm-indonesia.jpg" alt="oilpalm-indonesia"></li>
              <li class="map-gallery-item is-hidden" data-image-name="cocoa-peru"><img src="images/maps/cocoa-peru.jpg" alt="cocoa-peru"></li>
              <li class="map-gallery-item is-hidden" data-image-name="beef-argentina"><img src="images/maps/beef-argentina.jpg" alt="beef-argentina"></li>
              <li class="map-gallery-item is-hidden" data-image-name="beef-brazil"><img src="images/maps/beef-brazil.jpg" alt="beef-brazil"></li>
              <li class="map-gallery-item is-hidden" data-image-name="beef-paraguay"><img src="images/maps/beef-paraguay.jpg" alt="beef-paraguay"></li>
            </ul>
          </div>

          <a href="#" class="c-button -big -transparent -bold btn-find-out">find out here</a>
        </div>
    </section>
  </div>

    <section class="c-posts-grid js-posts-grid"></section>

    <%= htmlWebpackPlugin.options.footer %>

  </div>
  </div>

  <%= htmlWebpackPlugin.options.scripts %>
</body>
</html>
